@using Microsoft.AspNet.Identity;
@using System.Web.Mvc.AssetVersioning;

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Topics</h1>
    @* <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>*@
</div>
<div class="mb-3">
    <button id="newTopic" class="btn btn-secondary">New Topic</button>
</div>
<div class="row">
    <div id="tabulator" style="width: 100%"></div>
</div>

<div id="newTopicModal" class="none">
    <form id="newTopicForm">
        @Html.AntiForgeryToken()
        <input type="hidden" name="OwnerId" value="@User.Identity.GetUserId()" />
        <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
                <input type="text" class="form-control" name="Title" id="newTopicTitle" required placeholder="Title">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
                <textarea name="Description" id="newTopicDescription" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button name="modalCancel" class="btn btn-secondary" type="button" data-izimodal-close="">Close</button>
            <button name="modalSave" class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>

<div id="editTopicModal" class="none">
    <form id="editTopicForm">
        @Html.AntiForgeryToken()
        <input type="hidden" id="editTopicId" name="Id" />
        @*<input type="hidden" id="editOwnerId" name="OwnerId" value="@userResolver.GetUserId()" />*@
        <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
                <input type="text" class="form-control" name="Title" id="editTopicTitle" required placeholder="Title">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
                <textarea name="Description" id="editTopicDescription" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button name="modalCancel" class="btn btn-secondary" type="button" data-izimodal-close="">Close</button>
            <button name="modalSave" class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>

<div id="detailTopicModal" class="none">
    <article>
        <header class="mb-4">
            <h3 id="detailTopicTitle"></h3>
            <div id="detailTopicInfo" class="text-muted fst-italic mb-2"></div>
        </header>
        <section class="mb-5" id="detailTopicDescription">
        </section>
    </article>
</div>

@section Scripts {
    <script src="@Url.VersionedContent("~/Scripts/topic/index.js")"></script>
}